{
  "presets": [
    [ "env", {  "modules": false } ]
  ],

  "plugins": [ "transform-object-rest-spread" ],

  "env": {
    // when running testing via Karma with Mocha...
    "test-mocha": {
      "presets": [
        ["env", {
          "modules": false,
          "targets": { "node": "current" }
        }]
      ],
      // add istanbul for test coverage
      "plugins": [ "istanbul" ]
    },
    "test": {
      "presets": [
        ["env", { "targets": { "node": "current" } } ]
      ]
    }
  }
}
